MAINNET_PRIVATE_KEY=''
ETHERSCAN_APIKEY=''
ALCHEMY_POLYGON=''
ALCHEMY_MAINNET=''
ALCHEMY_OPTIMISM=''
ALCHEMY_ARBITRUM=''
CELO_APIKEY=''
ETHERSCAN_APIKEY=''
OPTIMISM_APIKEY=''
ARBISCAN_APIKEY=''
POLYGONSCAN_APIKEY=''
